@font-face {
  font-family: neubold;
  src: url(./NeueHaasDisplayMediu.ttf);
}

@font-face {
  font-family: neulight;
  font-weight: 100;
  src: url(./NeueHaasDisplayLight.ttf);
}

@font-face {
  font-family: neuhaas;
  font-weight: 200;
  src: url(./NeueHaasDisplayRoman.ttf);
}

*::selection {
  color: black;
  background-color: #fe320a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: neubold;
}

html,
body {
  height: 100%;
  width: 100%;
}

#wrapper {
  background-color: #0b0500;
  position: relative;
  z-index: 10;
}

#page1 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  position: relative;
  padding: 0 2vw;
  z-index: 10;
}

nav {
  padding: 2vw 0vw;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  position: relative;
  z-index: 100;
  justify-content: space-between;
}

#nav-part2 {
  display: flex;
  align-items: center;
  gap: 1vw;
}

#nav-part2 h4 {
  padding: 12px 22px;
  border: 1px solid #0000003c;
  border-radius: 50px;
  font-weight: 500;
  color: #000000bb;
  transition: all ease 0.4s;
  position: relative;
  font-size: 15px;
  overflow: hidden;
  cursor: pointer;
}

#nav-part2 h4::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
}

#nav-part2 h4:hover::after {
  bottom: 0;
  border-radius: 0;
}

#nav-part2 h4 a {
  color: #000000f9;
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  position: relative;
  z-index: 9;
}

#nav-part2 h4:hover a {
  color: #fff;
}

nav h3 {
  display: none;
}

#center {
  height: 80vh;
  width: 100%;
  /* background-color: orange; */
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  /* border-bottom: 1px solid #0000003c; */
  padding-bottom: 2.5vw;
  /* z-index: 10; */
}

#left h3 {
  width: 25vw;
  font-size: 1.9vw;
  line-height: 1.7vw;
  font-family: neubold;
  letter-spacing: -0.8px;
}

#center h1 {
  font-size: 11vw;
  text-align: right;
  line-height: 9.2vw;
  z-index: 10;
}

#page1 video {
  position: relative;
  border-radius: 30px;
  margin-top: 5vw;
  width: 100%;
  z-index: 10;
}

#hero-shape {
  position: absolute;
  width: 46vw;
  height: 36vw;
  right: 0;
  top: 87vh;
  z-index: 9;
}

#hero-1 {
  background-color: #fe320a;
  height: 100%;
  width: 100%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  filter: blur(20px);

  position: absolute;
}

#hero-2 {
  background: linear-gradient(to top right, #fe320a, #fe5f0a);

  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  position: absolute;
  animation-name: anime2;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  filter: blur(25px);
}

#hero-3 {
  background: linear-gradient(#fe320a, #fe3f0a);
  height: 30vw;
  width: 30vw;
  position: absolute;
  top: 0;
  border-radius: 50%;
  filter: blur(25px);
  animation-name: anime1;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes anime1 {
  from {
    transform: translate(15%, -3%);
  }

  to {
    transform: translate(20%, 10%);
  }
}

@keyframes anime2 {
  from {
    transform: translate(5%, -5%);
  }

  to {
    transform: translate(-20%, 30%);
  }
}

#page2 {
  min-height: 120vh;
  width: 100%;
  background-color: #efeae3;
  padding: 6vw 0;
  position: relative;
  z-index: 10;
  padding-bottom: 30vh;
}

#moving-text-wrapper {
  overflow-x: auto;
  white-space: nowrap;
}

#moving-text-wrapper::-webkit-scrollbar {
  display: none;
}

.con {
  white-space: nowrap;
  display: inline-block;
  animation: move 11s linear infinite;
}

#moving-text-wrapper h1 {
  font-family: neubold;
  font-size: 9vw;
  display: inline-block;
}

#gola {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #fe320a;
  display: inline-block;
  margin: 0 2vw;
  margin-bottom: 1.4vw;
}

@keyframes move {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

#page2-bottom {
  height: 80vh;
  width: 100%;
  /* background-color: aliceblue; */
  margin-top: 8vw;
  padding: 4.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 9;
}

#page2-bottom h1 {
  font-family: neubold;
  font-size: 4.5vw;
  width: 55%;
  line-height: 69.0929px;
  margin-bottom: 8vw;
  letter-spacing: -2.07279px;
}

#bottom-part2 {
  width: 20%;
  margin-right: 3vw;
  margin-top: 10vw;
}

#bottom-part2 img {
  width: 100%;
  border-radius: 15px;
}

#bottom-part2 p {
  color: #0b0500;
  font-family: neuhaas;
  margin-top: 2vw;
  font-size: 1vw;
  word-spacing: 1.2;
  letter-spacing: 1.3px;
  line-height: 1.2;
  line-height: 1.4vw;
}

#page2 #big-circle {
  position: absolute;
  height: 35vw;
  width: 35vw;
  border-radius: 50%;
  background: linear-gradient(to bottom left, #fe320a, #fe800a);
  top: 50%;
  left: 26%;
  filter: blur(30px);
  animation: mover 5s ease-in-out infinite alternate;
}

@keyframes mover {
  from {
    filter: blur(20px);
    transform: translate(10%, -10%) skew(0);
  }

  to {
    filter: blur(30px);
    transform: translate(-10%, 10%) skew(-12deg);
  }
}

#page3 {
  min-height: 100vh;
  width: 100%;
  padding: 0 0;
  background-color: #efeae3;
  position: relative;
  z-index: 10;
}

.elem {
  height: 150px;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #38383864;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
}

.elem h2 {
  font-size: 3vw;
  position: relative;
  z-index: 9;
}

.elem .overlay {
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, #ec4220, #fe800a);
  position: absolute;
  left: 0;
  top: -100%;
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.25s;
}

.elem:hover .overlay {
  top: 0;
}

#page3 .content-right {
  text-align: right;
  z-index: 9;
}

#page3 .content-right p {
  font-family: neulight;
  padding: 0;
  color: #0b0500ab;
}

#page3 .elem:nth-last-child(1) {
  border-bottom: none;
}

#page4 {
  height: 80vh;
  width: 100%;
  background-color: #efeae3;
  padding: 6vw 3vw;
  position: relative;
  z-index: 10;
}

#page4-content {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.4vw;
}
#chhota-gola {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #ec4220;
}
.swiper {
  padding-inline: 0vw;
  width: 100%;
  height: 100%;
}

.swiper img {
  margin-top: 2.5vw;
}

.swiper-slide {
  width: 30%;
  border-left: 1px solid #c8c8c8;
  padding-left: 3vw;
}

.swiper-button-next {
  color: #fe320a;
}

.swiper-button-prev {
  color: #fe320a;
}

.swiper-pagination-progressbar {
  background: #fe320a;
}

#brand-text {
  width: 100%;
  color: #0b0500;
}

#brand-text p {
  color: #313131;
  font-size: 1.2vw;
  line-height: 1.5;
}

#page5 {
  height: 100vh;
  width: 100%;
  z-index: 10;
  position: relative;
}

#footer {
  position: fixed;
  height: 120vh;
  width: 100%;
  background-color: #0b0500;
  color: #fff;
  z-index: 9;
  bottom: 0%;
  display: flex;
  /* align-items: flex-end; */
  justify-content: flex-end;
  flex-direction: column;
  padding: 1vw 3vw;
}

#footer h1 {
  text-align: center;
  font-size: 18vw;
}

#footer-bottom {
  border-style: none;
  border-top: 1px solid rgb(55, 55, 55);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: neuhaas;
  font-weight: 100;
  text-decoration: none;
}

#footer-bottom a,
p {
  font-family: neuhaas;
  font-weight: 100;
  padding-block: 2.5vw;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

#footer-top {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
}

#footer-top h2 {
  font-size: 2vw;
  cursor: pointer;
}

#footer-top h3 {
  font-size: 1.5vw;
  font-family: neulight;
  font-weight: 100;
  margin-bottom: 4vw;
}

#bada-gooey {
  /* opacity: 0.8; */
  z-index: 9;
  height: 40vw;
  width: 150vw;
  overflow: hidden;
  border-radius: 80%;
  background: linear-gradient(#fe320a, #fe670a80);
  position: absolute;
  bottom: 65%;
  /* right: 3%; */
  filter: blur(30px);
  animation: badagooey 6s infinite alternate ease-in-out;
}

@keyframes badagooey {
  from {
    transform: translate(20%, -20%) skew(0);
  }

  to {
    transform: translate(-20%, 20%) skew(-12deg);
  }
}
